---
import bim2021 from "../../assets/BIM2021.jpeg";
import Image from "astro/components/Image.astro";
---

<div class="uppercase font-bold mt-4 mb-2">
  Below are some events from this company I've been involved in:
</div>

<div>
  <div class="mb-2 font-bold">
    1. Trainer of <a
      class="text-blue-600"
      href="https://assist-software.net/academy/masterclasses/javascript"
      ><b>2023 Javascript Masterclass:</b></a
    >
  </div>
  <div class="columns-1 sm:columns-2 gap-8">
    A few years ago, I had the opportunity to step into a new role: trainer at
    JS Masterclass. It was a chance to do something I’ve always enjoyed—helping
    others learn. I found myself diving into GraphQL, not just as a technology,
    but as a story to tell: how it can simplify APIs, make data fetching
    smarter, and empower developers to build better applications.
  </div>
</div>

<div class="my-8">
  <div class="mb-2 font-bold">
    2. Winner of <a
      class="text-blue-600"
      href="https://assist-software.net/blog/software-engineering-competition-suceava-best-innovative-minds-2021"
      ><b>Best Innovative Minds 2021:</b></a
    >
  </div>

  <Image
    src={bim2021}
    alt="Best Innovative Minds 2021 Winners"
    loading="lazy"
    class="rounded-md"
  />

  <div class="my-4 columns-1 sm:columns-2 gap-8">
    Best Innovative Minds is considered a tradition amongst ASSIST Software
    employees. Everybody has a chance to win the grand prize of 1,200 euros and
    enter the Best Innovative Minds Hall of Fame. <br />
    <br />
    During 2021 session, I was part of the winning team with a project called
    <b>NFTeams</b> aimed to boost employees productivity using gamification and NFTs.
    <br />

    <br />

    <div>
      Each Employee has it's own avatar. Taking part in adventures (company
      events) gains the avatar virtual currency. Tokens can then be exchanged at
      a marketplace for visual items of various scarcity levels, extrinsic
      rewards, or even fun prizes such as throwing a pie in a line manager's
      face or getting them to buy good coffee.
    </div>

    <div class="my-4">For geeks, these are the developed features:</div>
    <ul class="pl-8">
      <li class="list-disc">
        Gamification items (characters, achievements, leaderboards, stats,
        quests)
      </li>
      <li class="list-disc">Reward system</li>
      <li class="list-disc">MS Teams bot</li>
      <li class="list-disc">Social platform features</li>
      <li class="list-disc">Smart contracts</li>
      <li class="list-disc">NFT minting and storing</li>
      <li class="list-disc">Digital wallet</li>
      <li class="list-disc">Internal token</li>
      <li class="list-disc">Admin center</li>
      <li class="list-disc">Main net connectivity</li>
    </ul>
  </div>
</div>

<div>
  <div class="my-2 font-bold">
    3. Written my first <a
      class="text-blue-600"
      href="https://assist-software.net/snippets/top-new-features-ecmascript-2020-es2020"
      ><b>article.</b></a
    >
  </div>
</div>
